.cookese {
  margin: 3em;
  color: red;
  margin: 0;
  font-family: "pacifico", pacifico, "Comic Sans MS", cursive, sans-serif;
  font-size: 2em;
  background-color: black;
}
.logout-button {
  margin-top: -75px;
  margin-right: 10px;
  /* z-index: 15px; */
  color: black;
  display: flex;
  height: 35px;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  font-size: 1em;
  width: 100px;
  box-shadow: 5px 5px;
  border: 1px solid red;
  float: right;
}
.about {
  margin-top: 7px;
  margin-right: 1320px;
  position: fixed;
  height: 35px;
  padding: 0 20px;
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  width: 100px;
  box-shadow: 5px 5px;
  border: 1px solid red;
  float: right;
  text-decoration: none;
}
.loginButton {
  margin-top: -30px;
  margin-right: 10px;
  display: flex;
  position: relative;
  height: 35px;
  padding: 0 20px;
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  width: 100px;
  box-shadow: 5px 5px;
  border: 1px solid red;
  float: right;
  text-decoration: none;
}
a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  /* margin-top: 10px; */
  text-align: center;
  /* padding: 8px 20px;
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  font-size: 1em;
  width: 130px;
  box-shadow: 5px 5px;
  border: 1px solid red;
  margin: 2em auto; */
}

.login > a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  padding: 8px 20px;
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  font-size: 1em;
  width: 130px;
  box-shadow: 5px 5px;
  border: 1px solid red;
  margin: 2em auto;
}
