.header-bar{
  /* height: 6em; */
  /* background-color:rgb(214, 207, 207); */
  /* padding: 0 628px;  */
}
.cookese {
  margin :3em;
  color:red;
  margin:0;
  font-family: 'pacifico', pacifico, 'Comic Sans MS', cursive, sans-serif;
  font-size: 2em;
  background-color: black;
}
.logout-button{
  margin-top:-50px;;
  margin-right:10px;
  color:black;
  display: flex; 
  height:35px;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  background-color: red;
  border-radius: 2px;   
  font-size: 1em;
  width: 100px;
  box-shadow: 5px 5px;
  border: 1px solid red;
  float:right; 
}
