.landing > .loginbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  padding: 30px 40px;
  box-sizing: border-box;
  background: linear-gradient(rgba(240, 28, 56, 0.95), rgba(240, 28, 56, 0.7));
  text-align: center;
}

.landing > .loginbox input[type="text"],
.landing > .loginbox input[type="password"] {
  border: 2px solid white;
  border-radius: 4px;
  background: transparent;
  padding: 7px 40px;
  margin: 4px 0;
  outline: none;
  height: 15px;
  font-size: 14px;
  color: rgb(200, 200, 200);
}

.signup-button {
  margin-top: 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 8px 37px;
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  font-size: 1em;
  box-shadow: 5px 5px;
  border: 1px solid red;
  margin: auto;
}
.landing > .infoaboutapp {
  position: fixed;
  bottom: -3.4em;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 120px;
  padding: 30px 20px;
  box-sizing: border-box;
  background: linear-gradient(rgba(240, 28, 56, 0.95), rgba(240, 28, 56, 0.7));
  text-align: center;
}

@media all and (max-width: 500px) {
  .landing > .loginbox {
    width: 80%;
    height: 60%;
    top: 45%;
    padding: 0 20px;
  }
  .landing > .infoaboutapp {
    bottom: -16%;
    width: 90%;
    height: 32%;
    padding: 0;
    font-size: 0.9em;
  }
}
