.button-submit {
  font-family: "pacifico", pacifico, "Comic Sans MS", cursive, sans-serif;
  background-color: rgba(221, 206, 206, 0.308);
  font-size: 20px;
  padding: 5px;
  width: 45%;
  position: relative;
  left: 25%;
  top: 10px;
  display: inline-block;
  color: rgb(253, 245, 245);
  border: none;
}

.feedback {
  margin-top: 2em;
}

@media only screen and (max-width: 500px) {
  .feedback {
    font-size: 1px;
  }
}
