.home-login {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  height: 450px;
}

 .login-signup-title{
  flex: 1 100%;
  color:red;
  font-size: 2em;
  margin-top: 10%;
  line-height: 30px
}